@model Impf_App.Models.Insurance

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Versicherung</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Beschreibung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Adresse
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrNmbr)
        </dd>
        <dt class = "col-sm-2">
            PLZ
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PLZ)
        </dd>
        <dt class = "col-sm-2">
            Stadt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.P_InssuranceId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
