@model Impf_App.Models.VaccinationDosis
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>Details</h1>

<div>
    <h4>Impfung</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Impfstoff
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.F_Vaccine.Description)
        </dd>
        <dt class="col-sm-2">
            Patient
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.F_Patient.FullName)
        </dd>
        <dt class = "col-sm-2">
            Produktionsdatum
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class = "col-sm-2">
            Impfdatum
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccinationDate)
        </dd>
        <dt class = "col-sm-2">
            Impfort
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            Arzt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.F_Doctor.FullName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.P_Dosis_Id">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
} else {
    <div>
        @await Html.PartialAsync("_NoSignIn", Model)
    </div>
}
