@model Impf_App.Models.VaccinationDosis

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>VaccinationDosis</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_Dosis_Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_Dosis_Id)
        </dd>
        <dt class="col-sm-2">
            Impfstoff
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.F_Vaccine.Description)
        </dd>
        <dt class="col-sm-2">
            Patient
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.F_Patient.FullName)
        </dd>
        <dt class = "col-sm-2">
            Produktionsdatum
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductionDate)
        </dd>
        <dt class = "col-sm-2">
            Impfdatum
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VaccinationDate)
        </dd>
        <dt class = "col-sm-2">
            Impfort
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Place)
        </dd>
        <dt class = "col-sm-2">
            Arzt
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Doctor.FullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.P_Dosis_Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
