@model IEnumerable<Impf_App.Models.VaccinationDosis>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Impfstoff
            </th>
            <th>
                Patient
            </th>
            <th>
                Produktionsdatum
            </th>
            <th>
                Impfdatum
            </th>
            <th>
                Impfort
            </th>
            <th>
                Arzt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.F_Vaccine.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.F_Patient.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VaccinationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Place)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.P_Dosis_Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.P_Dosis_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.P_Dosis_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
