@model Impf_App.Models.Vaccine

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Impfstoff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Beschreibung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            Hersteller
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer)
        </dd>
        <dt class = "col-sm-2">
            Dosierung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosis)
        </dd>
        <dt class = "col-sm-2">
            Datum der Zulassung
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfApproval)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.P_VaccineId">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
