@model Impf_App.Models.Patient
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (SignInManager.IsSignedIn(User))
{
<h1>Details</h1>

<div>
    <h4>Patient</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.P_InsuranceNr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.P_InsuranceNr)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PF_Insurance)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PF_Insurance.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BirtHDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BirtHDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AdrNmbr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AdrNmbr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PLZ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PLZ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Town)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Town)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.P_InsuranceNr">Edit</a> |
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
} else {
    <div>
        @await Html.PartialAsync("_NoSignIn", Model)
    </div>
}
