@model IEnumerable<Impf_App.Models.Patient>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Versicherung
            </th>
            <th>
                Geschlecht
            </th>
            <th>
                Vorname
            </th>
            <th>
                Nachname
            </th>
            <th>
                Geburtsdatum
            </th>
            <th>
                Adresse
            </th>
            <th>
                PLZ
            </th>
            <th>
                Stadt
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PF_Insurance.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sex)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirtHDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdrNmbr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PLZ)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Town)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.P_InsuranceNr"><i class="fas fa-edit"></i></a> |
                <a asp-action="Details" asp-route-id="@item.P_InsuranceNr"><i class="fas fa-info-circle"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.P_InsuranceNr"><i class="fas fa-trash-alt"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
